In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../products.csv")
df.head()

,Title,Price,Rating,Colors,Size,Gender,Timestamp
0,T-shirt 2,1634400.0,3.9,3,M,Women,2025-12-17T14:22:11:209819
1,Hoodie 3,7950080.0,4.8,3,L,Unisex,2025-12-17T14:22:11:209819
2,Pants 4,7476960.0,3.3,3,XL,Men,2025-12-17T14:22:11:209819
3,Outerwear 5,5145440.0,3.5,3,XXL,Women,2025-12-17T14:22:11:209819
4,Jacket 6,2453920.0,3.3,3,S,Unisex,2025-12-17T14:22:11:209819

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 867 entries, 0 to 866
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Title      867 non-null    object
 1   Price      867 non-null    float64
 2   Rating     867 non-null    float64
 3   Colors     867 non-null    int64
 4   Size       867 non-null    object
 5   Gender     867 non-null    object
 6   Timestamp  867 non-null    object
dtypes: float64(2), int64(1), object(4)
memory usage: 47.5+ KB

In [4]:
df.dropna(inplace=True)
df.drop_duplicates(inplace=True)

In [5]:
df.isna().sum()

Title        0
Price        0
Rating       0
Colors       0
Size         0
Gender       0
Timestamp    0
dtype: int64

In [6]:
df.duplicated().sum()

np.int64(0)

In [7]:
df['Title'] = df['Title'].str.strip()
df['Price'] = df['Price'].str.strip().str.replace('$', '')
df['Gender'] = df['Gender'].str.strip().str.replace('Gender: ', '')
df['Colors'] = df['Colors'].str.strip().str.replace('Colors', '')
df['Size'] = df['Size'].str.strip().str.replace('Size: ', '')
df['Rating'] = (
    df['Rating']
    .str.strip()
    .str.replace(r'Rating:|‚≠ê|/ 5', '', regex=True)
)

AttributeError: Can only use .str accessor with string values!

In [ ]:
df.head()

In [ ]:
df = df[~df['Rating'].str.contains('Invalid Rating', na=False)]
df = df[~df['Rating'].str.contains('Not Rated', na=False)]
df = df[~df['Title'].str.contains('Unknown Product', na=False)]

In [ ]:
df['Price'] = df['Price'].astype(float)
df['Rating'] = df['Rating'].astype(float)
df['Colors'] = df['Colors'].astype(int)

In [ ]:

df['Price'] = df['Price']*16000

In [ ]:
df.reset_index(drop=True)

In [ ]:
df.info()